body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 { 
  text-align: center;
}
.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  max-width: 335px;
  margin: auto;
}
.message {
  max-width: 335px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.message.alert {
  border: 2px solid magenta;
  background-color: #ff00ff1c;
}
.message.win {
  border: 2px solid lawngreen;
  background-color: #7dfc001c;
}
.guess {
  display: flex;
  justify-content: center;
}
.letter {
  width: 60px;
  height: 50px;
  padding-top: 10px;
  border: 1px solid black;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
}
letter.disabled {
  background-color: lightgray;
}
div.letter.partial, .partial.disabled {
  background-color: yellow;
}
div.letter.match, .match.disabled {
  background-color: palegreen;
}
.keyboard {
  margin-top: 20px;
}
.keyboard .row {
  display: flex;
  justify-content: center;
}
.key {
  margin: 5px;
}
.key.used {
  background-color: gray;
}
.key.partial {
  background-color: yellow;
}
.key.matched, .matched.partial, .matched.used {
  background-color: palegreen;
}

.hide {
  visibility: hidden;
}
