body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 { 
  text-align: center;
}
.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  max-width: 275px;
  margin: auto;
}
.alert {
  max-width: 350px;
  margin: auto;
  visibility: hidden;
  padding: 10px;
  border: 2px solid magenta;
  border-radius: 5px;
  background-color: #ff00ff1c;
  text-align: center;
}
.alert.win {
  border-color: lawngreen;
  background-color: #7dfc001c;
}
.guess {
  display: flex;
  justify-content: center;
}
.letter {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 2em;
}
.match {
  background-color: palegreen;
}
.partial {
  background-color: yellow;
}